/* MAIN FONT | usage: font-family: "Cormorant Garamond", serif; */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* PAGE SELECTOR FONT | usage: font-family: "Ms Madi", cursive; */
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

:root {
    --backgroundColor: #493628;
    --textColor: #D6C0B3;
    --controlColor: #AB886D;
}

* {
    font-family: "Cormorant Garamond", serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--backgroundColor);
}

.page-link {
    text-decoration: none;
    font-family: "Ms Madi", cursive;
    color: var(--textColor);
    font-size: 72px;
    letter-spacing: 10px;
    margin: 25px 0;
    text-shadow: 2px 5px var(--controlColor);
}

.active-link{
    filter: brightness(80%);
    cursor: default;
}

.page-selector {
    width: 100vw;
    height: 100vh;
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    transition: 0.8s;
}

.inactive {
    transform: translateY(-100%);
}

/* SEARCH BAR */

#searchBar {
    width: 250px;
    border-radius: 10px;
    transition: 0.5s;
    font-size: 18px;
    padding: 6px 10px;
    background-color: var(--controlColor);
    border: 2px solid var(--textColor);
    color: var(--backgroundColor);
    z-index: 1;
}

#searchBar::placeholder {
    color: var(--backgroundColor);
}

#searchBar:focus {
    border-radius: 25px;
    outline: none;
}

/* SEARCH BAR END */

/* NAVBAR START */

.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

/* NAVBAR END*/ 

/* HAMBURGER MENU BUTTON START */

.container {
    display: inline-block;
    cursor: pointer;
    z-index: 3;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 4px;
    background-color: var(--controlColor);
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 10px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -10px) rotate(45deg);
}
   
/* HAMBURGER MENU BUTTON END */

/* MEDIA QUERY SETTINGS */

@media only screen and (max-width: 600px) {
    #searchBar {
        width: 150px;
    }
}

/* MEDIA QUERY SETTINGS END */